.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.Error_Message {
    padding: 20px 5px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgb(211, 87, 87);
}

.Error_Message > p {
    margin: 0;
    padding: 0;
    color: #fff;
}